<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="amr_manipulator">
    <xacro:include filename="amr_base.xacro"/>
    <xacro:include filename="sensors.xacro"/>
    <xacro:include filename="arm.xacro"/>
    <xacro:include filename="ros2_control.xacro"/>
    <xacro:include filename="gazebo.xacro"/>
</robot>